body {
    background: linear-gradient(#cfb47c, #caa784);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 70%;
}

.header {
    background-color: #f3030798;
    color: white;
    border-radius: 25px;
    padding: 17px;
    margin-top: 17px;
}

.row1 {
    background-color: #01b4e0c4;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 25px;
    color: white;
    font-size: x-large;
    font-weight: 400;
}

.row2 {

    background: #ff950198;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 25px;
}

.row2 img {
    width: 410px;
    padding: 20px;
    border-radius: 50px;
}

figcaption {
    text-align: center;
}

.row3 {
    background-color: #00ac00a9;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 25px;
    color: white;
    font-size: larger;
    font-weight: 400;
}

.row5 {
    background-color: rgba(237, 237, 255, 0.918);
    padding: 30px;
    border-radius: 25px;
}

a {
    text-decoration: none;
}

.footer {
    padding: 20px;
    background-color: #ffd51896;
    text-align: center;
    border-radius: 25px;
    margin-top: 17px;
    margin-bottom: 17px;
}

/* error stuff */

.error {
    display: block;
    color: red;
}

#showErrors {
    color: red;
}

.hide {
    display: none;
}

/* media querrys */

@media only screen and (min-width: 100px) and (max-width: 647px) {
    .row1 p {
        font-size: medium;
    }

    .row2 {
        display: none;
    }
}

@media only screen and (min-width: 648px) and (max-width: 741px) {
    .row1 p {
        font-size: large;
        flex-wrap: wrap;
    }

    .row2 img {
        width: 140px;
        padding: 10px;
        border-radius: 30px;
    }
}

@media only screen and (min-width: 741px) and (max-width: 1060px) {
    .row2 img {
        width: 160px;
        padding: 10px;
        border-radius: 30px;
    }
}

@media only screen and (min-width: 1061px) and (max-width: 1550px) {
    .row2 img {
        width: 240px;
        padding: 10px;
        border-radius: 30px;
    }
}

@media only screen and (min-width: 1551px) and (max-width: 1780px) {
    .row2 img {
        width: 350px;
        padding: 10px;
        border-radius: 30px;
    }
}